
/*h1 style*/
h1{
font-family:  Verdana, Geneva, Tahoma, sans-serif;
display: block;
font-size: 1.17em;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
}

.content{
	max-width: 800px;
    margin-left: auto;
    margin-right: auto;
	font-family:  Verdana, Geneva, Tahoma, sans-serif;
	
}

body > h1{
    text-decoration: underline;
	text-align: center;
}

/*paragraph style*/
#firstparagraph{
	font-size: 1.5em;
	text-align: center;
	padding-left: 4em;
	padding-right: 4em;
}

#secondparagraph{
	font-size: 1.5em;
	text-align: center;
	padding-left: 3em;
	padding-right: 3em;
}

aside{
width: 50%;
float: left;
}

#vision{
	display: block;
	font-size: 1.17em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	text-align: center;
}

#thirdparagraph{
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	text-align: center;
	font-size:1.1em;
	font-family: Georgia, grunge;
}