h1{
	width: 60%;
    border-style: none;
    border-radius: 5px;
    border-width: 60%;
	background-color: skyblue;
    margin: auto;
    margin-top: 30px;
    padding: 35px;
}

#div_left>.i_list>.inde_button{
	align-items:"center";
}

#div_left>.i_list>img{
	float: left;
	width: 150px;
	height: 230px;
	border-radius: 8px;
}

#div_left>.i_list>h2{
	float: center;
}

#div_left>.i_list{
	margin: auto;
	padding: 35px;
	width: 60%;
	border-radius: 5px;
}

#div_right>fieldset{
	border-radius: 5px;
}
