/*faq styles*/
.faq{
    max-width: 800px;
    min-width: 300px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-flow: column nowrap;
}

/*faq button*/
.faqbutton a{
  width: 150px;
  padding: 10px;
  text-decoration: none;
  margin: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*faq container*/
.faqbutton{
  display: flex;
  height: 40px;
  border: none; 


}

.faqbanner{
  display: block;
  width: 100%;
  margin-top: 50px;
}

