/*faq styles*/
.faq{
    max-width: 800px;
    min-width: 300px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-flow: column nowrap;
}

/*faq button*/
.faqbutton a{
  width: 150px;
  padding: 10px;
  text-decoration: none;
  margin: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*faq container*/
.faqbutton{
  display: flex;
  height: 40px;
  border: none; 
}

.faqbanner{
  display: flex;
  background-color: black;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
.faqbanner p{
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4vw;
  font-family: cursive;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*dropdown menu*/
.tqdropbtn {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.tqdropdown {
  top: 350px;
  position: absolute;
  display: inline-block;
}
.tqdropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
  z-index: 1;
}
.tqdropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  word-wrap: break-word;
}
.tqdropdown-content a:hover {
  background-color: white;
  color: black;
}
.tqdropdown:hover .tqdropdown-content {
  display: block;
}
.tqdropdown:hover .tqdropbtn {
  background-color: transparent;
  color: black;
}

#topq1{
  scroll-margin-top: 100px;
}
#topq2{
  scroll-margin-top: 100px;
}
#topq3{
  scroll-margin-top: 100px;
}