/*faq styles*/
.faq{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


/*faq button*/
.faqbutton > a{
  display: block;
  width: 150px;
  padding: 10px ;
  text-align: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

/*faq container*/
.faqbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: none; 
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.faqbanner{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 50px;
}


/*Top button*/
#topbtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  right: 50px; /* Place the button 30px from the right */
  z-index: 10; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent;/* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 15px; /* Rounded corners */
  font-size: 17px; /* Increase font size */
}

#topbtn:hover {
  color: white;
  background-color: rgb(0, 0, 105);
  
}