/*faq styles*/
.faq{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#faqmain{
	color: rgb(68, 68, 68);
	line-height: 150%;
}

/*faq button*/
.faqbutton{
	text-align: left;
}
.faqbutton a{
	background-color:rgb(36, 35, 35);
  	border: none;
  	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}	
.faqbutton a:hover{
	background-color: white;
	color: black;
}

/*faq pre*/
#faqpayment{
	color:  rgb(68, 68, 68);
}
#faqpayment > p > a{
	color: blue;
	text-decoration: none;
}
#faqreturn{
	color:  rgb(68, 68, 68);
}
	
#faqmembership{
	color:  rgb(68, 68, 68);
}
#faqshipping{
	color:  rgb(68, 68, 68);
}