h1
{
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.slidecontainer 
{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
	font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

.slideimg
{
    display: none;
}

.slideimg:first-child
{
    display: block;
}

.fade
{
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.prev, .next 
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next 
{
    right: 25%;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover 
{
    background-color: gray;
    color: black;
}

.dot 
{
    height: 4px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
    background-position-x: 20px;
}
  
.active 
{
    background-color: gray;
}

@keyframes fadeInOpacity 
{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.feedback
{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
	font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

.formfeedback
{
    border-radius: 5px;
    background-color: gray;
    padding: 30px;
    margin: 0.2em;
    height: 650px;
}

.nextrow
{
    content: "";
    display: block;
    clear: both;
}

.col-70 input[type=text], input[type=email]
{
    width: 100%;
    padding: 12px;
    border: white;
    border-radius: 4px;
    resize: vertical;
}

label
{
    padding: 10px;
    display: block;
    font-weight: bold;
}

.col-15
{
    float: left;
    width: 15%;
    margin-top: 6px;
}

.col-70
{
    float: left;
    width: 70%;
    margin: 10px;
}

textarea
{
    width: 120%;
    padding: 12px;
    border: white;
    border-radius: 4px;
    resize: vertical;
}

button
{
    width: 20;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
    opacity: 0.9;
}

button:hover
{
    background-color: cyan;
    opacity: 1.0;
}