h1
{
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.feedback
{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
	font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

.formfeedback
{
    border-radius: 5px;
    background-color: gray;
    padding: 30px;
    height: 750px;
}

.nextrow:after 
{
    content: "";
    display: table;
    clear: both;
}

input[type=text]
{
    width: 100%;
    padding: 12px;
    border: white;
    border-radius: 4px;
    resize: vertical;
}

label 
{
    padding: 10px;
    display: block;
}

.col-15
{
    float: left;
    width: 15%;
    margin-top: 6px;
}

.col-70
{
    float: left;
    width: 70%;
    margin-top: 6px;
}

textarea
{
    width: 120%;
    padding: 12px;
    border: white;
    border-radius: 4px;
    resize: vertical;
    margin-left: 10px;
}