
nav {
	display: table;
	width: 100%;
	table-layout: fixed;
	text-align: center;
}
nav {
	display: table;
	width: 100%;
}

nav > ul {
	display: table-row;
}

nav > ul > li {
	display: table-cell;
	text-align: center;
}

nav > ul > li > a {
	display: block;
}

nav ul li {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 0.8em;
}

nav ul li a{
    color: black;
    text-decoration: none;
    display: block;
	margin-bottom: 8%;
}

nav ul li a:visited {
	color: #222;
    background-color: black;
}

nav ul li a:hover {
	background-color: red;
	color: white;
}
