/*navigation styles*/
nav {
	display: table;
	width: 100%;
	table-layout: fixed;
	text-align: center;
}
nav {
	display: table;
	width: 100%;
}

nav > ul {
	display: table-row;
}

nav > ul > li {
	display: table-cell;
	text-align: center;
}

nav > ul > li > a {
	display: block;
}

/*structural styles*/
address{
	color:black;
	font-style: normal;
	font-size: 0.9em;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
