/*upper navigation styles*/
header > nav {
	display: table;
	width: 20%;
	margin-right: 0px;
	margin-left: auto;
}

header > nav > ul {
	display: table-row;
}

header > nav > ul > li{
	display: table-cell;
	text-align: center;
}

header > nav > ul > li > a{
	display: block;
}

/*navigation styles*/
body > nav {
	display: table;
	width: 100%;
	table-layout: fixed;
	text-align: center;
}
body > nav {
	display: table;
	width: 100%;
}

body > nav > ul {
	display: table-row;
}

body > nav > ul > li {
	display: table-cell;
	text-align: center;
}

body > nav > ul > li > a {
	display: block;
}

