#bck-img{
    background-image: url('backgroundlogo.png');
    background-attachment: fixed;
}

.loca-layout{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row 
{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.loca-container{
    border-radius: 10px;
    background-color: #FFBE12;
    opacity: 0.9;
    padding: 30px;
    margin: 0.2em;
    height: fit-content;
}

.col-50
{
    -ms-flex: 50%;
    flex: 50%;
}

#map{
    height: 300px;
    width: 100%;
}

.mapouter{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    text-align:right;
    width:80%;
    height:400px;
}

.gmap_canvas {
    display: block;
    border: 5px solid #152238;
    overflow:hidden;
    background:none!important;
    width:100%;
    height:400px;
}
    
.gmap_iframe {
    height:400px!important;
}

h1{
    color: #152238;
    text-align: center;
}

.desc{
    float: left;
    margin-left: 50px;
    margin-right:25px;
}

label{
    font-weight: bold;
    font-style: italic;
}
