h1
{
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}

/* display everything in a row*/

.row 
{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

/* defines layout */

.pay-Layout
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
	font-family:  Verdana, Geneva, Tahoma, sans-serif;
    min-width: 50%;
    resize:vertical;
}

/* the plan to set 60% for cust info, payment details, 40% for cart */

.col-60
{
    -ms-flex: 60%;
    flex: 60%;
}

.col-40
{
    -ms-flex: 40%;
    flex: 40%;
}

/* 50% of the col-60 */

.col-50
{
    -ms-flex: 50%;
    flex: 50%;
}

/* set padding for each cols*/

.col-40,
.col-50,
.col-60
{
    padding: 0 10px;
}

.pay-container
{
    border-radius: 5px;
    background-color: gray;
    padding: 30px;
    margin: 0.2em;
    height: 90%;
}

label
{
    padding: 10px;
    display: block;
    font-weight: bold;
}

input[type=text],
input[type=email],
select
{
    margin-left: 10px;
    height: 30px;
    width:80%;
    margin-top: 6px;
    resize:vertical;
}

#postcode
{
    width: 100px;
}

.submitbtn
{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: white;
    opacity: 0.9;
}

.submitbtn:hover
{
    background-color: cyan;
    opacity: 1.0;
    font-weight: bold;
}