/*festival list*/
.flt img{
  max-height: 150px;
  max-width: 18%;
}
.flt{
  opacity: 0.7;
  margin: 2px;
}
.catflt{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}
.flt:hover{
  opacity: 1.0;
}


/*product section*/
 .productsection img{
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  
 }
 .productpage {
  overflow: hidden;
  max-width: 80%;
  width: 70%;
  margin-left: 250px;

}
.productsection {
  float: left;
  padding: 1%;
  box-sizing: border-box;
  width: 31.3%;
  height: 600px;
  margin: 5px;
  border: 1px solid black;
  display: none; /* Hidden by default */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* The "show" class is added to the filtered elements */
.show {
  display: block;
}


/* Style the buttons */
#productlist{
  float: left;
  position: absolute;
  left: 5%;
}

.btn {
  width: 110px;
  height: 50px;
  background-color: white;
  cursor: pointer;
  margin: 5px;
  display: block;
  transition-duration: 0s;
  font-weight: bolder;
  font-size: 0.95em;
  border-radius: 5%;
  transition-duration: 0.4s;
}

/* Slideshow container */
.slideshow-container {
  width: 90%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  width: 1.5%;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.4s ease;
  border-radius: 50%;
  user-select: none;
  margin: 5px;
  padding: 2px;
}
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
  }
  

/* The dots*/
.dot {
  height: 3px;
  width: 100px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
  background-position-x: 20px;
}

.active {
  background-color: #717171;
}


/*fade in animation*/
.ActiveSlide {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.ActiveSlide img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}
@keyframes fadeInOpacity {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
/*fade in animation*/

/*image map*/
.maplist img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

/*hot item*/
.hotitem{
  margin: 0;
  padding: 0;
}
.httcontainer{
  width: 1280px;
  margin: 30px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.httcontainer .httbox{
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
}
.httcontainer .httbox .imgbox{
  position: relative;
}
.httcontainer .httbox .imgbox img{
  max-width: 100%;
  transition: transform 2s;
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.httbox:hover .overlay {
  height: 100%;
}

.text {
  cursor: pointer;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.soonimg{
  max-width: 1200px;
  height: 600px;
  margin-left: 300px;
}
.soonimg img{
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.text h2{
  color: black;
}
.text p{
  color: blue; 
  text-decoration: underline blue;
}


/*coming soon image*/

.combox{
  margin-left: auto;
  margin-top: 30px;
  position: relative;
  background-color: burlywood;
  max-width: 1050px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-right: auto;
}
.combox .comimgbox{
  position: relative;
}
.combox .comimgbox img{
  display: block;
  transition: transform 2s;
  object-fit: cover;
  width: 100%;

}

.comoverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s ease;
}

.combox:hover .comoverlay {
  opacity: 100%;
}
.comoverlay img{
  height: 100%;
  width: 100%;
  opacity: 0.8;
}
