#intro{
    font-family: cursive;
    text-align: center;
    color: white;
    font-size: 3em;
}

/*festival list*/
.flt img{
  max-height: 150px;
  max-width: 18%;
}
.flt{
  opacity: 0.7;
  margin: 2px;
}
.catflt{
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}
.flt:hover{
  opacity: 1.0;
}


/*product section*/
 .productsection img{
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  
 }
 .productpage {
  overflow: hidden;
  max-width: 80%;
  width: 70%;
  margin-left: 250px;

}
.productsection {
  float: left;
  padding: 1%;
  box-sizing: border-box;
  width: 32.3%;
  height: 600px;
  margin: 5px;
  border: 1px solid black;
  display: none; /* Hidden by default */

}
.productsection{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}


/* Style the buttons */
#productlist{
  float: left;
  position: absolute;
  top: 550px;
  left: 100px;
}

.btn {
  width: 110px;
  height: 50px;
  background-color: white;
  cursor: pointer;
  margin: 5px;
  display: block;
  transition-duration: 0s;
  font-weight: bolder;
  font-size: 0.95em;
  border-radius: 5%;
  transition-duration: 0.4s;
}
.btn:hover {
  color: white;
}
.btn.active {
  color: white;
}

.cnybtn{
  border: 2px solid maroon;
  color: maroon;
}
.cnybtn.active {
  background-color: maroon;
}
.cnybtn:hover {
  background-color: maroon;
}

.valbtn{
  border: 2px solid rgb(223, 122, 139);
  color: rgb(223, 122, 139);
}
.valbtn.active {
  background-color: rgb(223, 122, 139);
}
.valbtn:hover {
  background-color: rgb(223, 122, 139);
}

.haribtn{
  border: 2px solid rgb(1, 97, 1);
  color: rgb(1, 97, 1);
}
.haribtn.active {
  background-color: rgb(1, 97, 1);
}
.haribtn:hover {
  background-color: rgb(1, 97, 1);
}

.dplbtn{
  border: 2px solid rgb(85, 0, 85);
  color: rgb(85, 0, 85);
}
.dplbtn.active {
  background-color: rgb(85, 0, 85);
}
.dplbtn:hover {
  background-color: rgb(85, 0, 85);
}

.dplbtn{
  border: 2px solid rgb(85, 0, 85);
  color: rgb(85, 0, 85);
}
.dplbtn.active {
  background-color: rgb(85, 0, 85);
}
.dplbtn:hover {
  background-color: rgb(85, 0, 85);
}

.chtbtn{
  border: 2px solid #165b33;
  color: #bb2528;
}
.chtbtn.active {
  background-color: #146b3a;
}
.chtbtn:hover {
  background-color: #bb2528;
}

/* Slideshow container */
.slideshow-container {
  width: 90%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    width: 1.5%;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: 0.4s ease;
    border-radius: 50%;
    user-select: none;
    margin: 5px;
    padding: 2px;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
  }
  
  /* On hover, add a grey background color */
  .prev:hover, .next:hover {
    background-color: white;
    color: black;
  }

/* The dots/bullets/indicators */
.dot {
  height: 3px;
  width: 100px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
  background-position-x: 20px;
}

.active {
  background-color: #717171;
}


/*fade in animation*/
.ActiveSlide {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.ActiveSlide img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}
@keyframes fadeInOpacity {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
/*fade in animation*/

.feslink{
  width: 91%;
  margin: auto;
  position: relative;
}
.fescolumn img{
  display: block;
  float: left;
  margin: 0;
  padding: 5px;
  width: 49%;
}
.fesrow::after {
  content: "";
  clear: both;
  display: table;
}


.container {
  position: relative;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  z-index: 99;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  color: black;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.hotitem{
  background-color: black;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}