/*upper navigation styles*/
#upper > nav > ul > li > a:hover {
	background-color: black;
	color: white;
}

/*upper navigation styles*/
#lower > nav > ul > li > a:hover {
	background-color:rgb(3, 4, 90);
	color: white;
}

/*navigation styles*/
.navi > nav > ul > li {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: .85em;
}

.navi > nav > ul > li > a{
    color: black;
    text-decoration: none;
    display: block;
	margin-bottom: 8%;
	font-weight: bold;
	text-transform: uppercase;
	padding: 8px;
}

.navi > nav > ul > li > a:visited {
	color: #222;
    background-color: black;
}

/*structural styles*/
address{
	font-style: normal;
	font-size: 0.9em;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}