/*upper navigation styles*/
#upper > nav > ul > li > a:hover {
	background-color: black;
	color: white;
}

/*upper navigation styles*/
#lower > nav > ul > li > a:hover {
	background-color:rgb(3, 4, 90);
	color: white;
}

/*navigation styles*/
.navi > nav > ul > li {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 0.85em;
}

.navi > nav > ul > li > a{
    color: black;
    text-decoration: none;
    display: block;
	margin-bottom: 8%;
	font-weight: bold;
	text-transform: uppercase;
}

.navi > nav > ul > li > a:visited {
	color: #222;
    background-color: black;
}

/*structural styles*/
address{
	font-style: normal;
	font-size: 0.9em;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*faq styles*/
.faq{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#faqmain{
	color: rgb(68, 68, 68);
	line-height: 150%;
}

/*faq button*/
.faqbutton > a{
	background-color:rgb(36, 35, 35);
  	border: none;
  	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}
.faqbutton > a:hover{
	background-color: white;
	color: black;
}

/*faq pre*/
#faqpayment{
	color:  rgb(68, 68, 68);
}
#faqpayment > p > a{
	color: rgb(0, 0, 255);
	text-decoration: none;
}
#faqreturn{
	color:  rgb(68, 68, 68);
}
	
#faqmembership{
	color:  rgb(68, 68, 68);
}
#faqshipping{
	color:  rgb(68, 68, 68);
}